*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 80px;
    text-shadow: 
        0 0 5px rgba(0, 0, 255, 0.8),
        0 0 10px rgba(0, 0, 255, 0.4),
        0 0 15px rgba(0, 0, 255, 0.1);
    font-size: 1.5em;
}

.photo {
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 100px;
}