*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing: border-box;
}
body {
    background-color: white;
}

header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 80px;
    text-shadow: 
        0 0 5px rgba(0, 0, 255, 0.8),
        0 0 10px rgba(0, 0, 255, 0.4),
        0 0 15px rgba(0, 0, 255, 0.1);
    font-size: 1.5em;
}

.part_presentation {
    background-color: white;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
    min-height: 210px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.photo {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 15px;
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%;
    float: left;
}

@media screen and (max-width: 700px) {
    .photo {
        float: none;
        margin-left: 50px;
        margin-top: 15px;
    }
    .txt_presentation {
        margin-right: 15px;
    }
}

.txt_presentation {
    margin-top: 30px;
    line-height: 1.5;
    font-size: 1.1em;
}

@media screen and (max-width: 300px) {
    .photo {
        float: none;
        margin-bottom: 20px;
        height: 100px;
        width: 100px;
    }
    .part_presentation{
        padding-left: 15px;
        padding-right: 5px;
        padding-top: 5px;
    }
}

.titre {
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 10%;
    margin-right: 50%;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    height: 60px;
    display: flex;
}

.part_projets {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
    margin-top: 130px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.img_projets {
    justify-content: space-evenly;
    display: inline-flex;
    height: 450px;
    width: 100%;
    overflow: clip;
    margin-right: 20px;
}

@media screen and (max-width: 300px) {
    .img_projets {
        height: 300px;
    }
}

/* pour les img */

.img_projets img {
    width: 15%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    transition: all .8s ease-in-out;
    border: 1px solid black;
}

.img_projets img:hover {
    flex-grow: 0.5;
    transform: scale(1.1);
}

/* partie CV */

.hidden {
    display: none;
}

/* bouton CV */

main {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 10%;
    height: auto;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
}

.btn_CV {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    background-color: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    box-shadow: 
        0 0 0px rgba(0, 0, 255, 0.7),
        0 0 0px rgba(0, 0, 255, 0.5),
        0 0 0px rgba(0, 0, 255, 0.3),
        0 0 0px rgba(0, 0, 255, 0.1);
}
.btn_CV:hover {
    transition: all ease-in-out 0.5s;
    background-color: black;
    color: white;
    border: 1px solid blue;
    box-shadow: 
        0 0 5px rgba(0, 0, 255, 0.7),
        0 0 10px rgba(0, 0, 255, 0.5),
        0 0 15px rgba(0, 0, 255, 0.3),
        0 0 20px rgba(0, 0, 255, 0.1);
}

/* mon CV */

.CV {
    margin-top: 10px;
}

.cadre_cv {
    border: 2px solid black;
    height: auto;
    width: 90%;
    margin-left: 2%;
    margin-bottom: 20px;
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto auto auto;
    gap: 15px 15px; 
    grid-template-areas: 
        "box_1 box_2"
        "box_1 box_3"
        "box_1 box_3"; 
}

.box_1 {
    grid-area: box_1;
    background-color: rgb(56, 56, 255);
    box-shadow: 
        0 0 5px rgba(0, 0, 255, 0.8),
        0 0 10px rgba(0, 0, 255, 0.6),
        0 0 20px rgba(0, 0, 255, 0.4);
    text-align: center;
    padding-top: 70px;
    line-height: 2;
}
.box_1_1 {
    margin-left:40%;
    text-align: left;
    line-height: 2;
}
@media screen and (max-width: 800px) {
    .box_1 > h3 {
        font-size: 90%;
    }
    .box_1 > .box_1_1 > h3 {
        font-size: 90%;
    }
}

.box_2 {
    grid-area: box_2;
    background-color: black;
    box-shadow: 
        0 0 5px rgba(0, 0, 0, 0.8),
        0 0 10px rgba(0, 0, 0, 0.6),
        0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 15px;
}
.box_2 > h1 {
    color: white;
    font-size: 2em;
}

.box_3 {
    grid-area: box_3;
    box-shadow: 
        0 0 5px rgba(128, 128, 128, 0.8),
        0 0 10px rgba(128, 128, 128, 0.6),
        0 0 15px rgba(128, 128, 128, 0.4);
    line-height: 1.5;
}
.box_3 > .box_3_1 {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 5%;
    line-height: 1.5;
}
.box_3 > .box_3_1 > .box_3_centre_interet {
    margin-left: 10%;
    margin-right: 5%;
    line-height: 50%;
    line-height: 1.5;
    margin-bottom: 15px;
}

@media screen and (max-width: 650px) {
    .cadre_cv {
        grid-template-areas: 
            "box_2 box_2"
            "box_1 box_1"
            "box_3 box_3";
    }
    .box_3 {
        font-size: 0.8em;
    }
    .box_1 {
        text-align: left;
        padding-top: 30px;
    }
    .box_1_1 {
        margin-left: 15%;
    }
    .box_1 > h3 {
        margin-left: 5%;
    }
}

/* carte pour les réseaux */

article {
    justify-content: center;
    align-items: center;
}

.card {
    height: 500px;
    width: 50%;
    background-color: rgba(208, 208, 208, 0.9);
    border-radius: 15px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    margin-left: 30%;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 50px;
}

.text_card {
    display: none;
}

.front {
    width: 100%;
}

.card:hover .text_card {
    display: block;
    color: white;
    margin-top: 10%;
}

.card:hover .front {
    display: none;
}

.card:hover {
    background-image: url(img\ pour\ site\ portfolio.png);
    background-size: cover;
    z-index: -1;
}

.card:hover .card:hover:not(.text_card) {
    filter: blur(10px);
}

.front > h3 {
    font-size: 3em;
}

@media screen and (max-width: 950px) {
    .card {
        height: 600px;
        width: 50%;
    }
    .front>.photo {
        float: none;
        margin-bottom: 50px;
    }
}

.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}

.socialSvg {
    width: 19px;
}
.largeIcon {
    width: 27px;
}
.socialSvg path {
    fill: rgb(255, 255, 255);
} 

.mes_reseaux {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
}
@media screen and (max-width: 950px) {
    .mes_reseaux {
        margin-top: 100px;
    }
}

@media screen and (max-width: 600px) {
    .front>.photo {
        height: 100px;
        width: 100px;
        margin-left: 5%;
    }
    .card {
        margin-left: 10%;
        width: 70%;
    }
    .front>h3 {
        font-size: 2em;
    }
    .mes_reseaux {
        margin-left: 5%;
    }
}

.item_svg_tiktok {
    margin-left: 10%;
    display: flex;
    margin-bottom: 30px;
}

.item_svg_tiktok > h2 {
    margin-left: 20px;
}

.item_svg_whatsapp {
    margin-bottom: 30px;
    margin-left: 10%;
    display: flex;
}

.item_svg_whatsapp > h2 {
    margin-left: 20px;
}

/* svg youtube */
.item_svg_youtube {
    margin-left: 10%;
    display: flex;
    margin-bottom: 30px;
}

.item_svg_youtube > h2 {
    margin-left: 20px;
}

.button {
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    background-color: #2d2e32;
    border: 2px solid #2d2e32;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fin svg youtube */

/* svg github */

.item_svg_github {
    margin-left: 10%;
    display: flex;
    margin-bottom: 30px;
}
.flex-center {
    cursor: default;
}

.item_svg_github > h2 {
    margin-left: 20px;
}

/* footer */

.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content p {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-content .author-name {
    text-decoration: none;
    font-weight: bold;
    color: #298df7; /* Pour une touche de couleur */
}

@media (max-width: 768px) {
    .footer-content p {
        font-size: 16px;
    }
}

.hunder_line {
    height: 1px;
    border-radius: 5px;
    box-shadow: 
        0 0 5px rgba(128, 128, 128, 0.7),
        0 0 10px rgba(128, 128, 128, 0.5),
        0 0 15px rgba(128, 128, 128, 0.3);
    background-color: gray;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
}

.txt_temporaire {
    display: none;
}
.card:hover .txt_temporaire {
    display: block;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 
        5px 5px 5px rgba(255, 255, 255, 0.7),
        5px 5px 10px rgba(255, 255, 255, 0.5),
        5px 5px 15px rgba(255, 255, 255, 0.3),
        5px 5px 20px rgba(255, 255, 255, 0.2);
}


/* Parti CINEMAS */
.projet_cine_off {
    display: none;
}
.projet_cine_on {
    width: 99%;
}

.titre_cine {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 30px;
    box-shadow: 
        5px 5px 5px rgba(0, 0, 0, 0.9),
        5px 5Px 10px rgba(0, 0, 0, 0.7),
        5px 5px 15px rgba(0, 0, 0, 0.5),
        5px 5px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.tableau {
    margin-left: 60px;
    margin-right: 50px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 40px 40px; 
    grid-template-areas: 
        "first second";
    margin-bottom: 100px;
}

.presentation_projet_cine {
    grid-area: first;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    max-width: 100%;
    transition: all 0.6s ease-in-out;
}
.presentation_projet_cine:hover {
    box-shadow: 
        7px 7px 5px rgba(0, 0, 0, 0.8),
        7px 7px 10px rgba(0, 0, 0, 0.6),
        7px 7px 15px rgba(0, 0, 0, 0.4),
        7px 7px 20px rgba(0, 0, 0, 0.4);
}
.entre_site_cine {
    grid-area: second;
    height: 250px;
    width: auto;
    border: 1px solid black;
    transition: all 0.6s ease-in-out;
    border-radius: 20px;
}

@media screen and (max-width: 980px) {
    .tableau {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "first"
            "second"; 
    }

    .composition_site_cine {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .categorie_projet_cine {
        width: 90%;
        height: 250px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.composition_site_cine {
    grid-area: first;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.composition_site_cine:hover {
    box-shadow: 
        7px 7px 5px rgba(0, 0, 0, 0.8),
        7px 7px 10px rgba(0, 0, 0, 0.6),
        7px 7px 15px rgba(0, 0, 0, 0.4),
        7px 7px 20px rgba(0, 0, 0, 0.4);
}

.categorie_projet_cine {
    grid-area: second;
    height: auto;
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}


.premier_classement_cine {
    grid-area: first;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.premier_classement_cine:hover {
    box-shadow: 
        7px 7px 5px rgba(0, 0, 0, 0.8),
        7px 7px 10px rgba(0, 0, 0, 0.6),
        7px 7px 15px rgba(0, 0, 0, 0.4),
        7px 7px 20px rgba(0, 0, 0, 0.4);
}

.premier_classement_projet_cine {
    grid-area: second;
    height: auto;
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}


.categorie_site_cine {
    grid-area: first;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.categorie_site_cine:hover {
    box-shadow: 
        7px 7px 5px rgba(0, 0, 0, 0.8),
        7px 7px 10px rgba(0, 0, 0, 0.6),
        7px 7px 15px rgba(0, 0, 0, 0.4),
        7px 7px 20px rgba(0, 0, 0, 0.4);
}

.categorie_film_projet_cine {
    grid-area: second;
    height: auto;
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}

.img_projet_1:hover {
    border: 10px solid rgba(128, 128, 128, 0.3);
}
/* fin parti CINEMAS */


.page_menu_off {
    display: none;
}